@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;600&display=swap");

:root {
    --primary: #1e90ff;
    --hover: #1e83e9;
}

* {
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: clamp(1.25em, 2.5vw, 2em);
}

h2 {
    font-size: clamp(1em, 2.25vw, 1.25em);
    font-weight: 400;
}

p {
    font-size: clamp(0.5em, 1.5vh, 1.75em);
}

#agreement-ctn {
    box-sizing: inherit;
    height: 100%;
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10%;

    .disclaimer-ctn {
        padding: 16px 0;
    }

    #start-btn {
        background-color: var(--primary);
        width: 70%;
        border: none;
        color: white;
        margin: 5% 0;
        padding: 0.75em 1em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: "Kanit", sans-serif;
        font-size: 1em;
        opacity: 0.6;
        cursor: not-allowed;

        &.-active {
            opacity: 1;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background-color: var(--hover);
            }
        }
    }

    .all-check-ctn {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin: 8px 0px;
    }

    .check-ctn {
        display: flex;
        width: fit-content;
        justify-content: center;
        align-content: center;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 0.75em;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default checkbox */
    .check-ctn input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        border: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
        border: 0;
    }

    /* On mouse-over, add a grey background color */
    .check-ctn:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .check-ctn input:checked ~ .checkmark {
        background-color: #2196f3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .check-ctn input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .check-ctn .checkmark:after {
        left: 7px;
        top: 3px;
        width: 3px;
        height: 8px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

#question-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 2em;

    .question-ctn {
        margin: 2em 0;
        background-color: #fff;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        text-align: center;
        background-color: #fff;

        li {
            position: relative;
            display: block;
            width: 100%;
            padding: 0.75em;
            border: 1px solid #ddd;
            margin-top: -1px;
            background-color: #fff;

            &:hover, &:active {
                background-color: rgb(230, 230, 230);
                cursor: pointer;
            }
        }
    }
}

#result-page{
    display: none;
    position: absolute;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 10%;
    font-size: 2.25em;
    line-height: 2;
}
