@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;600&display=swap");

:root {
    --primary: #1e90ff;
    --hover: #1e83e9;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: clamp(1.25em, 2.5vw, 2em);
}

h2 {
    font-size: clamp(1em, 2.25vw, 1.25em);
    font-weight: 400;
}

p {
    font-size: clamp(0.75em, 1.5vw, 0.75em);
}

#agreement-ctn {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    padding: 0 10vw;

    .disclaimer-ctn {
        margin: 2vh 0;
        padding: 1.5vh 4vw;
        height: 300px;
        width: clamp(300px, 80vw, 800px);
        overflow: scroll;
        text-align: start;
        border: 1px solid #d6dee1;
        box-shadow: 0 4px 28px rgba(123, 151, 158, 0.25);
        border-radius: 6px;

        &::-webkit-scrollbar{
            width: 20px;

        }

        &::-webkit-scrollbar-thumb{
            background-color: #d6dee1;
            border-radius: 20px;
            border: 6px solid transparent;
            background-clip: content-box;
        }
    }

    #start-btn {
        background-color: var(--primary);
        width: 70%;
        border: none;
        color: white;
        padding: 0.75em 1em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: "Kanit", sans-serif;
        font-size: 1em;
        opacity: 0.6;
        cursor: not-allowed;
        pointer-events: none;

        &.-active {
            opacity: 1;
            cursor: pointer;
            pointer-events: all;
            transition: 0.3s;

            &:hover {
                background-color: var(--hover);
            }
        }
    }

    .all-check-ctn {
        display: flex;
        flex-direction: column;
        margin: 2vh 0;
        width: clamp(350px, 75vw, 750px);

        input {
            margin-right: 6px;
        }


        label {
            font-size: 0.75em;
            text-align: start;
            padding-right: 1vw;

        }
        .check-accept {
            display: flex;
            justify-content: center;
            margin-top: 1vh;
        }
    }

    //     /* Hide the browser's default checkbox */
    //     .check-ctn input {
    //         position: absolute;
    //         opacity: 0;
    //         cursor: pointer;
    //         height: 0;
    //         width: 0;
    //         border: 0;
    //     }

    //     /* Create a custom checkbox */
    //     .checkmark {
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //         height: 20px;
    //         width: 20px;
    //         background-color: #eee;
    //         border: 0;
    //     }

    //     /* On mouse-over, add a grey background color */
    //     .check-ctn:hover input ~ .checkmark {
    //         background-color: #ccc;
    //     }

    //     /* When the checkbox is checked, add a blue background */
    //     .check-ctn input:checked ~ .checkmark {
    //         background-color: #2196f3;
    //     }

    //     /* Create the checkmark/indicator (hidden when not checked) */
    //     .checkmark:after {
    //         content: "";
    //         position: absolute;
    //         display: none;
    //     }

    //     /* Show the checkmark when checked */
    //     .check-ctn input:checked ~ .checkmark:after {
    //         display: block;
    //     }

    //     /* Style the checkmark/indicator */
    //     .check-ctn .checkmark:after {
    //         left: 7px;
    //         top: 3px;
    //         width: 3px;
    //         height: 8px;
    //         border: solid white;
    //         border-width: 0 3px 3px 0;
    //         -webkit-transform: rotate(45deg);
    //         -ms-transform: rotate(45deg);
    //         transform: rotate(45deg);
    //     }
}

#question-page {
    display: none;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 2em;

    .question-ctn {
        margin: 2em 0;
        background-color: #fff;
        font-size: clamp(1em, 2.5vw, 1.25em);
    }

    #question-text {
        font-size: clamp(1em, 2.5vw, 1em);
    }

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        text-align: center;
        background-color: #fff;

        li {
            position: relative;
            display: block;
            width: 100%;
            padding: 1em;
            border: 1px solid #ddd;
            margin-top: -1px;
            background-color: #fff;

            @media (hover: hover) {
                &:hover {
                    background-color: rgb(230, 230, 230);
                    cursor: pointer;
                }
            }

            &:active {
                background-color: rgb(230, 230, 230);
            }
        }
    }
}

#result-page {
    display: none;
    position: absolute;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
    background-color: #fff;
    line-height: 2;

    #result-text {
        padding: 10% 10%;
        font-size: clamp(1em, 2.5vw, 1.25em);
    }

    #back-btn {
        text-decoration: underline;

        &:hover {
            cursor: pointer;
        }
    }
}
